header {
    font-size: 30pt;
}
.title-div {
    text-align: center;
    text-decoration: none;
    color: rgb(188, 217, 255);
    padding: auto;
    background-color: #ad0000;
}

.logo-div{
    float:left;
    width:1px;
}

