.title-div {
    font-size: 30pt; 
    text-align: center;
    flex: 1 1 100px;
    background-color: #9ac3f6;
    font-family:'Source Sans Pro', arial, sans-serif;
}

header{
    flex: 1 1 100px;

}

header img {
    float: center;
    width: 80px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2px; 
}

nav {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex; 
    justify-content: right; 
    font-size: 12pt;
    color:#9ac3f6
}


ul {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 20px; /* Add spacing between list items */
}

.icons{
    float: center; 
    width :50px; 
}