.title-div {
    font-size: 30pt; 
    text-align: center;
    flex: 1 1 100px;
    background-color: #9ac3f6;
    /* display: flex inline-block; */ 
}

header img {
    float: left;
    width: 80px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2px; 
}

nav {
    margin-top: 30px;
    display: flex; 
    justify-content: center; 
    background-color: #bebebe;
}


ul {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px; /* Add spacing between list items */
}
