.title-div {
    font-size: 30pt; 
    text-align: center;
    flex: 1 1 100px;
    background-color: #9ac3f6;
    height: 60pt;
}

header img {
    float: left;
    width: 80px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px; 
}

nav {
    margin-top: 30px;
    display: flex; 
    justify-content: left; 
    font-size: 18pt;
    color:#9ac3f6
}


ul {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 20px; /* Add spacing between list items */
}
