body {
    background-color: khaki;
}

#box1 {
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: color 0.5s; /* Smooth transition effect */
}

#box1:hover p {
    color: purple;
}

#box2 {
    width: 25vw;
    height: 20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 2s infinite alternate; /* Animation for movement */
}

@keyframes box2move {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 500px;
        left: 500px;
    }
    100% {
        top: 0;
        left: 0;
    }
}
